---
layout: default
---

{{ content }}

<p class="published">Originally published {{ page.month }} {{ page.day}}, {{ page.year }}</p>

{% if page.comments %}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	
		var disqus_developer = 0;
	
	    var disqus_shortname = 'softwary';
		var disqus_url = 'http://www.softwary.org{{ page.url }}';
		var disqus_title ='{{ page.title }}';
		var disqus_identifier = '{{ page.url }}';

	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://softwary.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>
		Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

{% include footer.html %}